//Starting Point Styles IES Group http://iesgroup.on.ca

@import "variables.less";
@import "mixins.less";

//Navbar

.navbar{
    margin-bottom:0;
}
.navbar-brand {
    padding: 0 15px;
    color: black;
    & img {
        height: @navbar-height;
        padding: 0;
        margin-right: 5px;
    }
    &:hover{
        color: black;
        background: rgba(0,0,0,0.1);
    }
}
.navbar-toggle{
    top: 1px; // Default is 10px
}

//Hero Unit

.dna-SpaceImg{
    background: url('../img/SpaceImg.jpg') center no-repeat;
    background-size: cover;
}
.dna-CurrentExpo{
    padding: 100px 0; 
    position: relative;
    font-weight: 700;
    text-transform: uppercase;
    color: white;
    & span{
        font-size: 20px;
        background: black;
        padding: 0 5px;
    }
    & div{
        font-size: 50px;
        background: black;
        padding: 5px;
        line-height: 60px;
        display: inline-block;
    }
}
.dna-NextEvent{
    height: 100%;
    display: inline-block;
    vertical-align: bottom;
}
.dna-EventCard{
    min-height: 200px;
    background: #666;
    margin: 5px;
    padding: 10px;
    .box-sizing(border-box);
    position: relative;
    vertical-align: bottom;
    text-align: center;
    & .heading{
        color: rgba(0,0,0,1);
        font-weight: 700;
        font-size: 16px;
        text-transform: uppercase;
    }
    & .title{
        color: white;
        font-weight: 600;
        font-size: 22px;
        line-height: 26px;
    }
    & img{
        max-height: 100px;
        max-width: 100px;
        display: block;
        margin: 5px auto;
    }
}
.dna-Artists {
    margin: 15px 0;
    padding: 0 3%;
    list-style: none;
    & li{
        width: 31%;
        float: left;
        font-size: 17px;
        font-weight: 300;
        margin: 3px 1%;
        background: rgba(0, 0, 0, 0.1);
        padding: 0 5px;
        line-height: 28px;
        cursor: pointer;
        &:hover{
            background: rgba(0,0,0,0.2);
        }
    }
}
.dna-BlackBG{
    background: black;
    padding: 0 0 10px 0;
}
#dna-Gallery{
    height: 500px;   
    width: 100%;
    padding: 5px 0;
    & .item {
        max-width: 20%;
        padding: 5px;
        & img{
            max-width: 100%;
        }
    }
}
@media (min-width: @screen-tablet){
    .dna-CurrentExpo{
        padding: 200px 0;
    }
}




